<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Booker</title>
</head>
<body>
    <h1>Add Booker</h1>
        <div>
            <form method="post" action="#" th:action="@{/savebooker}" th:object="${booker}">
                <p>Arraiving: <input type="date" th:field="*{arraiving}"/></p>
                <p>Leaving: <input type="date" th:field="*{leaving}"/></p>
                <p>Price: <input type="number" th:field="*{price}"/></p>
                <p>People coming: <input type="number" th:field="*{peopleComing}"/></p>
                <p>Name: <input type="text" th:field="*{name}"/></p>
                <div th:object="${rooms}">
                    <label >Comers:</label>
                     <select >
                        <option th:each="come: ${comer}" 
                            th:value="${come.people}" 
                            th:text="${come.people}"></option>
                     </select>
                </div>
               
                <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
            </form>
        </div>
</body>
</html>