<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add room</title>
</head>
<body>
    <h1>Add Room</h1>
        <div>
            <form method="post" action="#" th:action="@{/saveroom}" th:object="${rooms}">
                <p>Room number: <input type="number" th:field="*{roomId}"/></p>
                <p>Beds: <input type="number" th:field="*{beds}"/></p>
                <p> Price: <input type="number" th:field="*{price}"/></p>
                <p>Available: <input type="date" th:field="*{available}"/></p>
                <p>Ending: <input type="date" th:field="*{availableEnding}"/></p>
                
               
                <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
            </form>
        </div>
</body>
</html>