<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
</head>

<body>

    <h1>Booking list</h1>
    <table>
        <tr>
            <th>Arraiving</th>
            <th>Leaving</th>
            <th>Price</th>
            <th>People coming</th>
            <th>Booker</th>
            <th sec:authorize="hasRole('ADMIN')"></th>
            <th sec:authorize="hasRole('ADMIN')"></th>
        </tr>
        <tr th:each="boo: ${booking}">
            <td th:text="${boo.arriving}"></td>
            <td th:text="${boo.leaving}"></td>
            <td th:text="${boo.price != null ? #numbers.formatDecimal(boo.price / 100.0, 1, 2) : '0.00'}"></td>
            <td th:text="${boo.peopleComing}"></td>

            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/deletebooking/{id}(id=${boo.bookingId})}"
                    class="">Delete</a></td>
            <td sec:authorize="hasRole('ADMIN')"> <a th:href="@{/editbooking/{id}(id=${boo.bookingId})}"
                    class="button">Edit booking</a></td>
        </tr>
    </table>
    <a th:href="@{/listhotel}" class="button">To hotel list</a>
    <a th:href="@{/roomlist}" class="button">To room list</a>
    <a th:href="@{/bookerlist}" class="button">To booker list</a>
    <a th:href="@{/comerlist}" class="button">To comer list</a>

    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/addbooking}" class="button">Add booking</a>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign out" />
    </form>
</body>

</html>