<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booker</title>
</head>
<body>
    
    <h1>Bookers</h1>
    <table>
        <tr>
            <th>Arraiving</th>
            <th>Leaving</th>
            <th>Price</th>
            <th>People coming</th>
            <th>Booking name </th>
        </tr>
    <tr th:each="booker: ${bookers}">
        <td th:text="${booker.araiving}"></td>
        <td th:text="${booker.leaving}"></td>
        <td th:text="${#numbers.formatDecimal(booker.price /100, 1,2 )}"></td>
        <td th:text="${booker.peopleComing}"></td>
        <td th:text="${booker.name}"></td>
         <td><a th:href="@{/deletebooker/{id}(id=${booker.bookerId})}" class="">Delete</a></td>
            <td>  <a th:href="@{/updatebooker/{id}(id=${booker.bookerId})}" class="button" >Edit booker</a></td>
		</tr>
    </table>
    <a th:href="@{/addbooker}" class="button" >Add booker</a>

    
</body>
</html>