<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit booker</title>
</head>
<body>
    <h2>Update booker</h2>
      
        <div>
            <form method="post" action="#" th:action="@{/bookerupdate}" th:object="${booker}">

             <input type="hidden" th:field="*{bookerId}"/>

                <p>Title: <input type="text" th:field="${book.title}"/></p>
                <p>Author: <input type="text" th:field="${book.author}"/></p>
                <p>Publication year: <input type="text" th:field="${book.puplicationYear}"/></p>
                <p>Price: <input type="text" th:field="${book.price}"/></p>
                <input type="submit" value="Submit" /> 
            </form>
        </div>
</body>
</html>