<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room list</title>
</head>

<body>

    <h1>Rooms</h1>
    <table>
        <tr>
            <th>Beds</th>
            <th>Price</th>
            <th>Available</th>
            <th>Available ending</th>
            <th sec:authorize="hasRole('ADMIN')"></th>
            <th sec:authorize="hasRole('ADMIN')"></th>

        </tr>
        <tr th:each="room: ${rooms}">
            <td th:text="${room.beds}"></td>
            <td th:text="${room.price != null ? #numbers.formatDecimal(room.price / 100.0, 1, 2) : '0.00'}"></td>
            <td th:text="${room.available}"></td>
            <td th:text="${room.availableEnding}"></td>

            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/deleteroom/{id}(id=${room.roomId})}"
                    class="button">Delete</a></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/updateroom/{id}(id=${room.roomId})}" class="button">Edit
                    room</a></td>
        </tr>

    </table>
    <a th:href="@{/bookinglist}" class="button">To booking list</a>
    <a th:href="@{/listhotel}" class="button">To hotel list</a>
    <a th:href="@{/bookerlist}" class="button">To booker list</a>
    <a th:href="@{/comerlist}" class="button">To comer list</a>

    <div sec:authorize="hasRole('ADMIN')"> <a th:href="@{/addroom}" class="button">Add room</a></div>
</body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign out" />
</form>

</html>